<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/uikit.css" />
  {% block extra_css %}
  {% endblock %}
  <script src="{{ SITEURL }}/theme/js/uikit.js"></script>
  <script src="{{ SITEURL }}/theme/js/uikit-icons.js"></script>
</head>

<body>
  <nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">
      <a class="uk-navbar-item uk-logo" href="{{ SITEURL }}/">{{ SITENAME }}</a>
      <ul class="uk-navbar-nav">
        {% if DISPLAY_CATEGORIES_ON_MENU %}
          {% for cat, null in categories %}
            <li{% if cat == category %} class="active"{% endif %}>
              <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
            </li>
          {% endfor %}
        {% endif %}
        {% if DISPLAY_PAGES_ON_MENU %}
          {% for p in pages %}
            <li{% if p == page %} class="active"{% endif %}>
              <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>
  </nav>
  <div class="uk-container">
    {% block content %}
    {% endblock %}
  </div>
  {% block extra_js %}
  {% endblock %}
</body>
</html>
